/node_modules/
/src/scrap/
/package-lock.json
/public/bundle.js
/public/bundle.js.map
/public/styles.css
/public/styles.css.map

/.DS_Store

/.env

/src/tests/add.test.js
/src/tests/components/__snapshots__
